# Extracting and visualization stock data

## Question 1: Use yfinance to Extract Stock Data

Using the Ticker function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is TSLA.

In [25]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)
import yfinance as yf
TSLA = yf.Ticker('TSLA')

In [26]:
tesla_data = TSLA.history(period='max')
print(tesla_data)

                                 Open        High         Low       Close  \
Date
2010-06-29 00:00:00-04:00    1.266667    1.666667    1.169333    1.592667
2010-06-30 00:00:00-04:00    1.719333    2.028000    1.553333    1.588667
2010-07-01 00:00:00-04:00    1.666667    1.728000    1.351333    1.464000
2010-07-02 00:00:00-04:00    1.533333    1.540000    1.247333    1.280000
2010-07-06 00:00:00-04:00    1.333333    1.333333    1.055333    1.074000
...                               ...         ...         ...         ...
2025-07-10 00:00:00-04:00  300.049988  310.480011  300.000000  309.869995
2025-07-11 00:00:00-04:00  307.890015  314.089996  305.649994  313.510010
2025-07-14 00:00:00-04:00  317.730011  322.600006  312.670013  316.899994
2025-07-15 00:00:00-04:00  319.679993  321.200012  310.500000  310.779999
2025-07-16 00:00:00-04:00  312.799988  323.500000  312.619995  321.670013

                              Volume  Dividends  Stock Splits
Date
2010-06-29 00:00:00-04:00  281494500        0.0           0.0
2010-06-30 00:00:00-04:00  257806500        0.0           0.0
2010-07-01 00:00:00-04:00  123282000        0.0           0.0
2010-07-02 00:00:00-04:00   77097000        0.0           0.0
2010-07-06 00:00:00-04:00  103003500        0.0           0.0
...                              ...        ...           ...
2025-07-10 00:00:00-04:00  104365300        0.0           0.0
2025-07-11 00:00:00-04:00   79236400        0.0           0.0
2025-07-14 00:00:00-04:00   78043400        0.0           0.0
2025-07-15 00:00:00-04:00   77556300        0.0           0.0
2025-07-16 00:00:00-04:00   96845800        0.0           0.0

[3785 rows x 7 columns]

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the requests library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named html_data.

In [25]:
import yfinance as yf
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Fetch HTML
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
html_data = requests.get(url).text
soup = BeautifulSoup(html_data, 'html.parser')

# Find all tables
tables = soup.find_all('table')
print(f"Number of tables found: {len(tables)}")

# Initialize DataFrame
tesla_revenue = pd.DataFrame(columns=['date', 'revenue'])

# Use the first table and get tbody
tbody = tables[1].find('tbody')

# Loop through all rows in tbody
for row in tbody.find_all('tr'):
    col = row.find_all('td')
    if len(col) >= 2:
        date = col[0].text.strip()
        revenue = col[1].text.strip().replace('$', '').replace(',', '')
        tesla_revenue = pd.concat(
            [tesla_revenue, pd.DataFrame([{'date': date, 'revenue': revenue}])],
            ignore_index=True
        )
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['revenue'] != ""]
print(tesla_revenue.tail())

Number of tables found: 6
          date revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

## Question 3: Use yfinance to Extract Stock DataÂ¶

Using the Ticker function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is GME.

In [7]:
import yfinance as yf
GME= yf.Ticker('GME')

In [11]:
gme_history=GME.history(period='max')

In [13]:
print(gme_history)

                                Open       High        Low      Close  \
Date
2002-02-13 00:00:00-05:00   1.620129   1.693350   1.603296   1.691667
2002-02-14 00:00:00-05:00   1.712707   1.716074   1.670626   1.683250
2002-02-15 00:00:00-05:00   1.683250   1.687458   1.658002   1.674834
2002-02-19 00:00:00-05:00   1.666418   1.666418   1.578047   1.607504
2002-02-20 00:00:00-05:00   1.615920   1.662210   1.603296   1.662210
...                              ...        ...        ...        ...
2025-07-10 00:00:00-04:00  23.040001  23.330000  23.010000  23.100000
2025-07-11 00:00:00-04:00  23.129999  24.049999  23.129999  23.330000
2025-07-14 00:00:00-04:00  23.440001  23.840000  23.389999  23.700001
2025-07-15 00:00:00-04:00  23.660000  23.680000  23.170000  23.219999
2025-07-16 00:00:00-04:00  23.400000  23.850000  23.309999  23.680000

                             Volume  Dividends  Stock Splits
Date
2002-02-13 00:00:00-05:00  76216000        0.0           0.0
2002-02-14 00:00:00-05:00  11021600        0.0           0.0
2002-02-15 00:00:00-05:00   8389600        0.0           0.0
2002-02-19 00:00:00-05:00   7410400        0.0           0.0
2002-02-20 00:00:00-05:00   6892800        0.0           0.0
...                             ...        ...           ...
2025-07-10 00:00:00-04:00   5991000        0.0           0.0
2025-07-11 00:00:00-04:00  11454100        0.0           0.0
2025-07-14 00:00:00-04:00   7769600        0.0           0.0
2025-07-15 00:00:00-04:00   7321600        0.0           0.0
2025-07-16 00:00:00-04:00   7677800        0.0           0.0

[5893 rows x 7 columns]

In [15]:
gme_history.reset_index(inplace=True)

In [17]:
gme_history.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue DataÂ¶

Use the requests library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named html_data_2.

In [51]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1: Download the webpage
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data_2 = requests.get(url).text  

# Step 2: Parse HTML using BeautifulSoup
soup = BeautifulSoup(html_data_2, 'html.parser')

# Step 3: Find all tables
tables = soup.find_all('table')

# Step 4: Inspect number of tables (optional)
print(f"Number of tables found: {len(tables)}")
soup.title
#print(tables[1].prettify())

# Step 5: Assume the first table contains GME revenue data
gme_revenue = pd.DataFrame(columns=['date', 'revenue'])
tbody = tables[1].find('tbody')

# Step 6: Loop through rows and extract data
for row in tbody.find_all('tr'):
    cols = row.find_all('td')
    if len(cols) >= 2:
        date = cols[0].text.strip()
        revenue = cols[1].text.strip().replace('$', '').replace(',', '')
        gme_revenue = pd.concat(
            [gme_revenue, pd.DataFrame([{'date': date, 'revenue': revenue}])],
            ignore_index=True
        )

# Step 7: Clean the data
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue['revenue'] != ""]

# Step 8: Preview the result
print("GME Revenue:")
print(gme_revenue.tail())

Number of tables found: 6
GME Revenue:
          date revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

## Question 5: Plot Tesla Stock GraphÂ¶

Use the make_graph function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

In [39]:
import yfinance as yf
import pandas as pd

# Get Tesla stock data
tsla = yf.Ticker("TSLA")
tesla_data = tsla.history(period="max")
tesla_data.reset_index(inplace=True)
tesla_data['Date'] = pd.to_datetime(tesla_data['Date'])
# Convert revenue to numeric
tesla_revenue['revenue'] = pd.to_numeric(tesla_revenue['revenue'], errors='coerce')
tesla_revenue['date'] = pd.to_datetime(tesla_revenue['date'])

In [41]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
def make_graph(stock_data, revenue_data, stock):
    stock_data = stock_data[stock_data.Date <= '2021-06-30']
    revenue_data = revenue_data[revenue_data.date <= '2021-06-30']

    fig = make_subplots(rows=2, cols=1, shared_xaxes=True,
                        subplot_titles=(f"{stock} Stock Price", f"{stock} Revenue"),
                        vertical_spacing=0.3)

    fig.add_trace(go.Scatter(x=stock_data.Date, y=stock_data.Close.astype("float"), name="Stock Price"), row=1, col=1)
    fig.add_trace(go.Bar(x=revenue_data.date, y=revenue_data.revenue.astype("float"), name="Revenue"), row=2, col=1)

    fig.update_layout(height=600, showlegend=False, title=f"{stock} Stock Price and Revenue")
    fig.show()

In [43]:
import plotly.io as pio
pio.renderers.default = 'notebook' 
import yfinance as yf
pio.renderers.default = 'iframe'
pio.renderers.default = 'iframe_connected'

make_graph(tesla_data, tesla_revenue, 'Tesla')

## Question 6. plot gameplot stock graph

Use the make_graph function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the make_graph function is make_graph(gme_data, gme_revenue, 'GameStop'). Note the graph will only show data upto June 2021.

In [47]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

def make_graph(stock_data, revenue_data, stock):
    # Filter data up to June 2021
    stock_data = stock_data[stock_data.Date <= '2021-06-30']
    revenue_data = revenue_data[revenue_data.date <= '2021-06-30']
    
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True,
                        subplot_titles=(f"{stock} Stock Price", f"{stock} Revenue"),
                        vertical_spacing=0.3)
    
    # Stock price line
    fig.add_trace(go.Scatter(x=stock_data.Date, y=stock_data.Close.astype("float"), name="Stock Price"), row=1, col=1)
    
    # Revenue bar chart
    fig.add_trace(go.Bar(x=revenue_data.date, y=revenue_data.revenue.astype("float"), name="Revenue"), row=2, col=1)
    
    fig.update_layout(height=600, showlegend=False, title=f"{stock} Stock Price and Revenue")
    fig.show()

In [60]:
import plotly.io as pio
pio.renderers.default = 'notebook' 
import yfinance as yf
pio.renderers.default = 'iframe'
make_graph(gme_data, gme_revenue, 'GameStop')